<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
 <?php include "/views/common/style.html" ?>
</head>
<body>
    
    <!-- 侧边栏 -->
    <?php include "/views/common/aside.html" ?>
    <!-- 主体 -->
    <div class="main">
        <div class="container-fluid">
            <!-- 头部 -->
            <?php include "/views/common/header.html" ?>
            <div class="body teacher" id="teacher_add">
                <!-- 面包屑 -->
                <!-- 占坑 -->
            </div>
        </div>
    </div>

    <?php include "/views/common/script.html" ?>
    <script type="text/html" id="teacher_edit_tpl">
       <ol class="breadcrumb">
            <li><a href="javascript:;">讲师管理</a></li>
            {{if id}}
            <li class="active">编辑资料</li>
            {{else}}
             <li class="active">讲师添加</li>
            {{/if}}      
        </ol>
        <div class="teacher-add">
            <form action="" class="form-horizontal col-md-offset-2"id="teacher_adds">
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">姓名</label>
                    <div class="col-md-4">
                        <input type="text" name="tc_name" class="form-control input-sm" value="{{tc_name}}">
                    </div>
                </div>
                <div class="form-group">
                {{if !id}}
                <label for="" class="col-md-3 control-label">密码</label>
                <div class="col-md-4">
                        <input type="password" name="tc_pass"class="form-control input-sm">
                    </div>
                {{/if}}
                    
                    
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">入职时间</label>
                    <div class="col-md-4">
                        <input type="text" name="tc_join_date"class="form-control input-sm" value="{{tc_join_date}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">类型</label>
                    <div class="col-md-2">
                        <select name="tc_type" class="form-control input-sm" id="teacher_adds_s">
                            <option  {{if tc_type==="1"}} selected {{/if}} value="1">讲师</option>
                            <option {{if tc_type==="0"}} selected {{/if}} value="0">管理员</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">性别</label>
                    <div class="col-md-4">
                    {{if tc_gender==="0"}}
                        <label class="radio-inline">
                            <input name="tc_gender" value="0"type="radio" checked> 男
                        </label>
                        <label class="radio-inline">
                            <input name="tc_gender" value="1" type="radio" > 女
                        </label>
                  {{else}}
                       <label class="radio-inline">
                            <input type="radio" name="tc_gender" value="0"> 男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" checked name="tc_gender" value="1"> 女
                        </label>
                    {{/if}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-7">
                    {{if id}}
                    <a href="javascript:;" class="btn btn-success btn-sm pull-right"  id="teacher_save" > 保 存 </a>
                    {{else}}
                    <a href="javascript:;" class="btn btn-success btn-sm pull-right" id="teacher_zengjia_tmp"> 添 加 </a>
                    {{/if}}

                        
                    </div>                          
                </div>
            </form>
        </div> 
    </script>
    <script>
      require(["js/teacher/edit"])
    </script>
</body>
</html>